.regular {
  border: 2px solid gray;
  background: gray;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
}

.regular:not(:disabled) {
  cursor: pointer;
}
