.regular {
  border: 2px solid gray;

  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
}

.regular:disabled {
  background: gray;
}

.regular:not(:disabled) {
  cursor: pointer;
  background: #029642;
}
